@import ../../../styles/helpers

.section
  margin-bottom: 8rem
  h1
    +dm-sans
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 64px
    text-align: center
    letter-spacing: -0.02em
    color: #FCFCFD
    width: 20ch
    margin: auto
    margin-bottom: 2rem
    +m
      font-size: 32px
      line-height: 40px
      width: 100%
      max-width: 20ch

.row
  display: flex
  justify-content: center
  align-items: stretch
  +m
    flex-direction: column
    align-items: center
.gap
  width: 2rem
  height: 2rem

.subtitle
  margin-bottom: 4rem
  display: flex
  justify-content: center
  align-items: stretch
  span
    +jost
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 24px
    letter-spacing: -0.01em
    color: #777E91

.card
  background: #2B243F
  box-shadow: 0px 44.0412px 88.0825px -44.0412px rgba(15, 15, 15, 0.1)
  border-radius: 34.4072px

.speaker
  display: flex
  flex-direction: column
  align-items: center
  width: 300px
  height: 440px
  overflow: hidden
  +t
    height: 400px
  +m
    flex-direction: row
    height: 300px
    justify-content: space-between
    width: 400px
  +s
    flex-direction: column-reverse
    width: 100%
    max-width: 300px
    height: auto

  span
    margin: 1rem 0
    font-size: 1rem
    +jost
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 24px
    text-align: center
    color: #777E90
    +m
      margin: auto
    +s
      margin: 1rem 0
  img
    border-radius: 34.4072px
    object-fit: contain
    width: 300px
    +m
      width: auto
      height: 300px
    +s
      height: auto
      width: 100%
      max-width: 300px

.column
  height: 440px
  display: grid
  grid-template-rows: 1fr 2rem 1fr
  +t
    height: 400px
  +m
    width: 400px
  +s
    width: 100%
    max-width: 300px

.sideCard
  display: flex
  align-items: center
  padding: 2rem
  position: relative
  +m
    width: 400px
  +s
    width: 100%
    max-width: 300px
    flex-direction: column
  span
    +dm-sans
    font-style: normal
    font-weight: bold
    font-size: 28px
    line-height: 36px
    display: flex
    align-items: center
    width: 12ch
    margin-right: 240px
    +t
      font-size: 20px
      line-height: 28px
      margin-right: 180px
    +s
      margin-right: 0
      text-align: center
      margin-bottom: 100px
      width: 90%
  img
    width: 280px
    position: absolute
    right: 16px
    bottom: 0
    +t
      width: 200px
    +s
      bottom: 0
      right: inherit

br
  +s
    display: none