@import ../../../styles/helpers

.section
  h1
    width: 100%
    padding: 20px
    padding-bottom: 0
    transform: translateY(40px)
    +dm-sans
    font-style: normal
    font-weight: bold
    font-size: 96px
    line-height: 96px
    text-align: center
    letter-spacing: -0.02em
    color: #FFFFFF
    position: relative
    z-index: 2
    +m
      font-size: 54px

  .image
    position: relative
    .cp
      height: 20vw
      width: 30vw
      position: absolute
      top: 12vw
      left: 15vw
      +m
        width: 50vw
        left: auto
        right: 10vw
        height: 50vw
        top: 15vw

    .cv
      height: 20vw
      width: 30vw
      position: absolute
      top: 12vw
      right: 15vw
      +m
        width: 55vw
        right: auto
        left: 12vw
        top: 72vw
        height: 50vw
        
    img
      width: 100%
      height: auto
