@import ../../styles/helpers

.footer
    margin-top: 4rem

    .title
        text-align: center
        margin-bottom: 2rem
        +dm-sans
        font-weight: bold
        color: #777E90
        font-size: 2.5rem
        +t
            font-size: 2rem

    .subTitle
        margin: 4rem 0 2rem 0
        font-weight: normal
        font-size: 1.5rem
        line-height: 2rem
        text-align: center
        letter-spacing: -0.01em
        color: #777E91
        +t
            font-size: 1.2rem

.sponsorContainer
    display: flex
    flex-direction: column
    align-items: center
    .sponsorLink
        width: 40%
        +m
            width: 70%
    .sponsor
        width: 100%
        margin-left: auto
        margin-right: auto

.partnerContainer
    margin-top: 100px
    display: flex
    flex-direction: column
    align-items: center
    .partnerLink
        width: 35%
        +m
            width: 60%
    .partner
        width: 100%
        margin-left: auto

.mediaPartnerContainer
    margin-top: 100px
    .mediaPartners
        width: 100%
        border-radius: 16px

.bottom
    margin-top: 6rem
    padding: 24px
    border-top: 1px solid $n7
    +dark
        border-color: $n2

.copyright
    +caption-2
    text-align: center
    +dark
        color: $n4
